@page "/"

<PageTitle>Home</PageTitle>

<div class="full-page">
    <div class="content-box">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Zaloguj się, aby uzyskać dostęp do Chatu AI</p>
        <a href="Account/Login" class="btn btn-dark btn-lg">Zaloguj się</a>
    </div>
</div>
